<!DOCTYPE html>
<html>
<head>
  <title>GstreamApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      signed in as <%= current_user.user_name %>
    <% end %>
  </header>

  <div class="nav-bar">
  <ul class="nav-menu">
    <li><%= link_to "Log in", login_path %></li>
    <li><%= link_to "Log out", logout_path, data: {confirm: "Are you sure?"} %></li>
    <li><%= link_to "Sign up", new_user_path %></li>
  </ul>
</div>
<div class="row">
  <div class="nine columns">
    <%= yield %>
  </div>
</div>
<footer>
  I am a footer
</footer>

</body>

</html>
