<!DOCTYPE html>
<html>
<head>
  <title>GstreamApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      signed in as <%= current_user.user_name %>
    <% end %>
  </header>

<div class = "row">
    <ul class="nav-menu six columns offset-by-three">
      <li><%= link_to "Log in", login_path %></li>
      <li><%= link_to "Log out", logout_path, data: {confirm: "Are you sure?"} %></li>
      <li><%= link_to "Sign up", users_new_path %></li>
    </ul>
</div>
<div class="row">
  <div class="ten columns offset-by-one">
    <%= yield %>
  </div>
</div>
<footer>
  <%= button_to "Add a Genre", genre_new_path, method: :get  %>
</footer>

</body>

</html>
