<div class="row">
  <div class="six columns offset-by-three">

    <% if !@user.nil? && @user.errors.any?%>
      <div id="error_message">
        <h5>
          <%= pluralize(@user.errors.count,"error")%>
          prevented this article from saving
        </h5>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h1>G Stream</h1>
    <ul>
    <%= form_tag '/login' do %>
      <li>User Name: <%= text_field_tag :user_name %></li>
      <li>Password:  <%= password_field_tag :password %> </li>
      <li><%= submit_tag "Log In" %></li>
    <% end %>
    </ul>
    <%= button_to "Register", users_new_path, method: :get %>
  </div>
</div>
