<div class="row">
  <div class="six columns offset-by-three">

<!-- ERROR HANDLER -->
    <% if @user.nil? %>
    <!-- CHECK INCORRECT USERNAME -->
      <div id="error_message">
        <h5>Invalid user name.</h5>
      </div>
    <% elsif @user[:password_digest] != params[:authenticity_token] %>
    <!-- CHECK INCORRECT PASSWORD -->
      <div id="error_message">
        <h5>Incorrect password.</h5>
      </div>
    <% elsif @user.errors.any?%>
    <!-- CHECK FOR OTHER ERRORS -->
      <div id="error_message">
        <h5>
          <%= pluralize(@user.errors.count,"error")%>
          prevented this save
        </h5>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h1>G Stream</h1>
    <ul>
<!-- END ERROR HANDLER -->

    <%= form_tag '/login' do %>
      <li>User Name: <%= text_field_tag :user_name %></li>
      <li>Password:  <%= password_field_tag :password %> </li>
      <li><%= submit_tag "Log In" %></li>
    <% end %>
    </ul>
    <%= button_to "Register", users_new_path, method: :get %>
  </div>
</div>
