<div class="row">
  <div class="eight columns offset-by-two">
    <h1><%=@artist.artist_name%></h1>
    <ul>
      <li><%= image_tag("#{@artist.img_url}")%></li>
      <li><%=@artist.artist_bio%></li>
    </ul>
    <%= link_to "Add a song", new_genre_artist_song_path(@genre.id,@artist.id)%>
  </div>
</div>

<div class="row">
  <div class="eight columns offset-by-two">
    <ul>
      <% @songs.each do |song| %>
        <li><%= "#{song.scloud_embed}".html_safe %></li>
        <li><%= song.song_comment %></li>
        <% if current_user.id == song.user_id %>
          <li><%= link_to "EDIT SONG", edit_genre_artist_song_path(@genre.id,@artist.id,song.id) %>
              <%= link_to "DELETE SONG", genre_artist_song_path(@genre.id,@artist.id,song.id), method: :delete, data: {confirm: "Are you sure?"} %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
