
<div class="row">
  <h3> Add a Song </h3>
  <div class="six columns offset-by-three">

    <h1>G Stream</h1>
    <% #INCLUDE BECAUSE THE FORM FOR REQUIRES THESE VARIABLES IN CASE OF RE-RENDER %>
    <%  @artist = Artist.find(params["artist_id"]) %>
    <%  @genre = Genre.find(params["genre_id"]) %>

    <% if !@song.nil? && @song.errors.any? %>
      <div id="error_message">
        <h5>
          <%= pluralize(@song.errors.count,"error")%>
          prevented this form from saving
        </h5>
        <ul>
          <% @song.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <ul>
        <%= form_for @song, url: {controller: "songs", action: "create", genre_id: @genre.id, artist_id: @artist.id}, method: :post do |f| %>
          <li>Song Title: <%=f.text_field :song_name %></li>
          <li> Soundcloud embed link: <%=f.text_field :scloud_embed %></li>
          <li> Your comment: <%=f.text_area :song_comment %></li>
          <li><%= f.submit "Add Song" %></li>
        <% end %>
      </ul>
  </div>
</div>
