<!DOCTYPE html>
<html>
<head>
  <title>GstreamApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <h1>G Stream</h1>
    <% if current_user %>
      signed in as <%= current_user.user_name %>
    <% end %>
  </header>

<div class="container">
  <div class = "row">
      <ul class="nav-menu six columns offset-by-three">
        <li><%= link_to_if(!current_user, "Log in", login_path) %></li>
        <li><%= link_to_if(current_user, "Log out", logout_path, data: {confirm: "Are you sure?"} ) %></li>
        <li><%= link_to_if(!current_user, "Sign up", users_new_path) %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
  </div>
    <%= yield %>
  <footer>
    <%= button_to "Add a Genre", new_genre_path, method: :get  %>
  </footer>
</div>
</body>

</html>
